/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/adminer/adminer\.php
public/adminer/login-otp\.php
public/adminer/plugin\.php
public/adminer/struct-comments\.php
public/uploads/*
_temp/
storage/framework/cache/data/
*.directory
public/vendor/summernote
config/tables\.php
.env
.phpunit.result.cache
laravel8.code-workspace
tools/php-cs-fixer/vendor
.php-cs-fixer.cache