* {
	box-sizing: border-box;
	text-decoration: none;
	appearance: none;
	outline: none;
	padding: 0;
	outline: 0;
	margin: 0;
	border: 0;
	list-style: none;
}

html.no-scroll,
body.no-scroll {
	overflow: hidden;
}

html,
body {
	background: $white;
	width: 100vw;
	color: $black;
	font-size: 16px;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	font-weight: 400;
}

.guide {
	box-shadow: inset 0px 0px 0px 1px red;
}

.wrapper-container--root {
	position: relative;
}

section {
	position: relative;
	display: flex;

	&.section {
		width: 100%;
		margin: 0 auto;
	}

	img {
		width: 100%;
		height: auto;
		display: block;

		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);

		&.desktop {
			display: block;
		}

		&.mobile {
			display: none !important;
		}
	}
}

.loading-content {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba($black, 0.8) url(../images/ajax-loader.svg) center center no-repeat;
	background-size: 100px;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999;
	display: none;
}

// calcSizeVw(00, $ww)
@media only screen and (max-width: 1920px) {
	$ww: 1920;
}

@media only screen and (max-width: 1440px) {
	$ww: 1440;
}

@media only screen and (max-width: 767px) {
	$ww: 767;

	html,
	body {
		width: 100%;
		overflow-x: hidden;
		overflow-y: initial;
	}

	.wrapper-container--root {
		width: 100%;
		max-width: initial;
	}

	section {

		img {

			&.desktop {
				display: none !important;
			}

			&.mobile {
				display: block !important;
			}
		}
	}
}

@media only screen and (max-width: 600px) {}